<%- include('../partials/head', {title : 'History'}) %>

<link rel="stylesheet" href="/public/styles/history.css" type="text/css">
<link rel="stylesheet" href="/public/styles/orderComponent.css">
<link rel="stylesheet" href="/public/styles/backButton.css">
<link href="/public/styles/navbar.css" rel="stylesheet">
<link href="/public/styles/shoppingCart.css" rel="stylesheet">

<%- include('../partials/body') %>

<%- include('../components/navbar.ejs') %>
<main>
    <div class="shoppingCart">
        <%- include('../components/shoppingCartComponent.ejs') %>
    </div>
</main>


<div class="contenedor__history">
    <section class="history__section">
        <div class="od-arrow">
            <%- include('../components/backButton.ejs') %>
        </div>
        <div class="history__section--orders">
            <span class="history__section--orders--word">My orders</span>
            <div class="history__section--orders--shopping" id="historyShopping">
                <!-- ${movie} -->
                <div><%- include('../components/orderComponent.ejs'); %></div>
            </div>
        </div>
    </section>
</div>

<script src="/public/scripts/orderComponent.js"></script>
<script src="/public/scripts/backButton.js"></script>
<script src="/public/scripts/shoppingCart.js"></script>
<script src="/public/scripts/checkButton.js"></script>

<%- include('../partials/foot') %>