<header class="header">
    <div class="izHeader">
        <a class="logo" id="home" href="/">
            <img src="/public/assets/icons/logo_coexbuster.svg" width="80px" alt="">
        </a>
    </div>
    <% if (typeof categories != 'undefined') { %>
        <div class="categories">
            <nav class="nav">
                <ul class="list-categories">
                    <% categories.forEach( cat => { %>
                        <a id="categorySelected" href="/movies/category/1?category=<%- cat.id %>/<%- cat.name %>">
                            <li><%- cat.name %></li>
                        </a>
                    <% }) %>
                        
                    <% if (categoriesSelect != 0) { %>
                        <label for="otherMenu" class="list-item down-list" id="otherItems">
                            <select class="other-categories" name="" id="select"  onchange="location = this.value">
                                <option id="categoryOption" value=""> Others </option>
                                <% categoriesSelect.forEach( (cat) => { %>
                                    <option id="categorySelected" value="/movies/category/1?category=<%- cat.id %>/<%- cat.name %>"><%- cat.name %></option>
                                <% }); %>

                            </select>
                        </label>
                    <% } %> 
                    
                </ul>
            </nav>
        </div>
    <% } %> 
    <div class="derHeader">
        <% if (path!=="/login" && path!== '/register') { %>
            <% if(user.id == 0){ %> 
                <div class="btn-sesion-hidden" id="btn-nosesion-nav btn-hidden">
                    <button id="login" class="btn-login-nav">Log in</button>
                    <button id="register" class="btn-singup-nav">Sign up</button>
                </div>
            <% } else { %>
            
                <div class="btn-sesion-login " id="btn-sesion-nav">
                    <div class="btn-drop-menu">
                        <div class="email__sigin" type="button" id='sigin_arrow' >
                            <div class="user-correo"><%= user.email%></div>
                            <div class="email-menu">
                                <div>
                                    <a href="/history" class="user-correo">
                                        <span class="menu-text">History Orders</span>
                                    </a>
                                </div>
                                <div class="user-correo" id="logOutBtn">
                                    <span class="menu-text">Log Out</span>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            <%}%>
            <a as="button" id="openButton">
                <img src="../../../public/assets/icons/icon_shopping_cart_notification.svg" alt="" width="30" heigth="27">
            </a>
        <% } %>
    </div>
</header>

<script>
    let categories;
</script>

<% if (typeof categories !== 'undefined') { %>
    <script>
        categories = '<%- JSON.stringify(categories) %>'
    </script>
<% } %>

    <script>
        let user = '<%- JSON.stringify(user) %>'
    </script>
    <script src="/public/scripts/navBar.js"></script>
</header>
